.auth-layout-backdrop {
  background-color: #242424;
  background-image: linear-gradient(rgb(36 36 36 / 0.68), rgb(36 36 36 / 0.68)),
    url('../../../../assets/images/auth/auth-bg-blurred.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
